.forma {
  margin: 0 auto;
  border: 2px solid rgb(142, 255, 161);
  max-width: fit-content;
  padding: 10px;
  background: rgb(238, 255, 205);
}

h2 {
  text-align: center;
  color: cornflowerblue;
}

.text_option {
  margin-bottom: 2px;
  font-size: 18px;
}

.text_input {
  font-size: 18px;
  width: 90%;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background: rgb(79, 82, 250);
  border-radius: 30px;
  border: 2 solid rgb(250, 219, 80);
  width: 200px;
  height: 70px;
  margin-left: 100px;
}
